<?xml version="1.0"?>
<!--

/**
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *  
 *
 * @category    
 * @package     
 * @copyright   Copyright (c) 2013 Mps Sistemi (http://www.mps-sistemi.it)
 * @author      MPS Sistemi S.a.s - Marco Mancinelli <marco.mancinelli@mps-sistemi.it>
 *
 */
-->
<config>
    <modules>
        <MpsSistemi_Gui>
            <version>0.1.1</version>
        </MpsSistemi_Gui>
    </modules>
    <global>
        <helpers>
            <mpsgui>
                <class>MpsSistemi_Gui_Helper</class>
            </mpsgui>
        </helpers>
        
        <blocks>
            <mpsgui>
                <class>MpsSistemi_Gui_Block</class>
            </mpsgui>
            <adminhtml>
                <rewrite>
                    <system_convert_gui_edit_tab_wizard>MpsSistemi_Gui_Block_Adminhtml_System_Convert_Gui_Edit_Tab_Wizard</system_convert_gui_edit_tab_wizard>
                </rewrite>
            </adminhtml>
            <adminhtml>
                <rewrite>
                    <system_convert_gui_grid>MpsSistemi_Gui_Block_Adminhtml_System_Convert_Gui_Grid</system_convert_gui_grid>
                </rewrite>
            </adminhtml>            
        </blocks>
        
        <models>
            <mpsgui>
                <class>MpsSistemi_Gui_Model</class>
            </mpsgui>
            <dataflow>
                <rewrite>
                    <profile>MpsSistemi_Gui_Model_Dataflow_Profile</profile>
                </rewrite>
            </dataflow>
        </models>
        <resources>
            <mpsgui_setup>
                <setup>
                    <module>MpsSistemi_Gui</module>                    
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>                
                <connection>
                    <use>core_setup</use>
                </connection>                
            </mpsgui_setup>            
            <mpsgui_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </mpsgui_write>
            <mpsgui_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </mpsgui_read>
        </resources>

    </global>
    
    <admin>
        <routers>
            <mpsgui>
                <use>admin</use>
                    <args>
                        <module>MpsSistemi_Gui</module>
                        <frontName>mpsgui</frontName>
                    </args>
            </mpsgui>
        </routers>        
    </admin>
    
    <adminhtml>
<!-- Serve per simulare il calcolo dei prezzi di catalogo -->        
        <events>
            <mpsgui_adminhtml_product_get_final_price>
                <observers>
                    <catalogrule>
                        <class>catalogrule/observer</class>
                        <method>processFrontFinalPrice</method>
                    </catalogrule>
                </observers>
            </mpsgui_adminhtml_product_get_final_price>
        </events>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <mpsgui>
                                            <title>Import export profile settings</title>
                                        </mpsgui>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    
</config>